section {
	width: 800px;
	margin: 100px auto;
}

section h1 {
	font: 32px 'Open Sans';
	font-weight: bold;
	color: aliceblue;
}
section p {
	text-align: center;
	color: #454545;
	font: 16px 'Open Sans';
}
